<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782960837843-h0luusddtj7k82v3843l742k0hlfbqas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782960837843-h0luusddtj7k82v3843l742k0hlfbqas</string>
	<key>API_KEY</key>
	<string>AIzaSyDW-ONDN-mbMIY_9KcNljtqeeFpzPg6Gh8</string>
	<key>GCM_SENDER_ID</key>
	<string>782960837843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.nextez.HybridWeb-dev</string>
	<key>PROJECT_ID</key>
	<string>hybridweb-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hybridweb-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782960837843:ios:e62c90a8d0808f61224026</string>
</dict>
</plist>